@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box !important;
  }
  
body {
    margin: 0 !important;
    padding: 0 !important;
    &::-webkit-scrollbar{
      display: none;
    }
    .app{
      &.night{
        color: white !important;
        .bg-white{
          background-color: #0d1117 !important;
        }
        .bg-light{
          background-color: black !important;
        }
        input, textarea,.MuiSelect-select, ::placeholder, .text-black, th, td{
          color: white !important;
        }
        .css-vqmohf-MuiButtonBase-root-MuiRadio-root{
          color: silver;
        }
        .react-datepicker-wrapper{
          input{background-color: #0d1117;}
        }
        .react-datepicker__tab-loop{
          .react-datepicker__month{background-color: #0d1117;margin: 0;}
          .react-datepicker__day{color: white;&:hover{color: black;}}
        }
        .MuiChip-root{
          background-color: black;
          color: white;
        }
      }
    }
  }
  
h1,h2,h3,h4,h5,h6,
p {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Ruda', sans-serif !important;
  }

button, input, label, textarea, a, small, span{
    font-family: 'Ruda', sans-serif !important;
    }

button:disabled{
    cursor: not-allowed !important;
    pointer-events: all !important;
  }

a{
  text-decoration: none;
}

input, textarea{
  outline: none;
  &::placeholder{
    color: silver;
  }
}

.MuiOutlinedInput-notchedOutline{
  border-color: silver !important;
}

.MuiInputLabel-root {
  color: silver !important;
}

.text-silver{
  color: silver !important;
}

.MuiOutlinedInput-root{
  .MuiSvgIcon-root{
    color: silver !important;
  }
}

.MuiTextField-root{
  textarea{
    &::-webkit-scrollbar{
      display: none !important;
    }
  }
}

.react-datepicker-popper{
  z-index: 9;
}

.react-datepicker__input-container{
  input{
    width: 100%;
    height: 50px;
    border: 1px solid silver;
    border-radius: 4px;
    outline: none;
    padding-left: 14px;
    padding-right: 14px;
  }
}

.page{
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  &-main{
    &.main{
      @media only screen and (max-width: 767px) {
        height: calc(100vh - 122px);
    }
    }
    height: calc(100vh - 72px);
    overflow: auto;
    &::-webkit-scrollbar{
      display: none;
    }
  }
}

.rounded{
  border-radius: 6px !important;
}

input[type='checkbox'] {
  cursor: pointer;
}

.row{
  --bs-gutter-x: 0 !important;
}

