.collectionCard{
    border-radius: 6px;
    .ava{
        width: 45px;
        height: 45px;
        object-fit: cover;
    }
    &-main{
        height: 180px;
        @media only screen and (max-width: 575px) {
            flex-wrap: wrap;
            height: auto;
        }
        &-img{
            object-fit: cover;
            height: 180px;
            width: 240px;
            @media only screen and (max-width: 575px) {
                width: 100%;
                height: calc(((100vw - 48px)/4)*3);
            }
        }
        &-content{
            flex: 1;
            @media only screen and (max-width: 575px) {
                flex: 0;
                width: 100%;
            }
            .description{
                max-height: 110px;
                overflow-y: auto;
                &::-webkit-scrollbar {
                    width: 6px;
                }
                &::-webkit-scrollbar-track {
                    background: #EBEBEB;
                    border-radius: 3px;
                }
                &::-webkit-scrollbar-thumb {
                    background: #6c757d;
                    border-radius: 3px;
                }
            }
        }
    }
    &-bottom{
        &-btnBox{
            .actionBtn{
                min-width: 35px !important;
                height: 35px !important;
            }
        }
    }
}