.userPage{
    &-main{
        @media only screen and (max-width: 767px) {
            position: relative;
        }
        &-left{
            width: 350px;
            height: calc(100vh - 72px);
            @media only screen and (max-width: 767px) {
                width: 100%;
                position: absolute;
                transform: translateX(-100%);
                transition: all ease 0.5s;
                z-index: 4;
                &.show{
                    transform: translateX(0);
                }
            }
            .closeBtn{
                @media only screen and (min-width: 768px) {
                    display: none;
                }
            }
            &-bio{
                min-height: 192px;
            }
            &-tags{
                overflow-y: auto;
                flex: 1;
                &::-webkit-scrollbar {
                    width: 6px;
                }
                &::-webkit-scrollbar-track {
                    background: #EBEBEB;
                    border-radius: 5px 15px 15px 5px;
                }
                &::-webkit-scrollbar-thumb {
                    background: #6c757d;
                    border-radius: 3px;
                }
            }
        }
        &-right{
            width: calc(100vw - 350px);
            height: calc(100vh - 72px);
            @media only screen and (max-width: 767px) {
                width: 100%;
            }
            overflow-y: auto;
            &::-webkit-scrollbar{
                display: none;
            }
            .infoBtn{
                @media only screen and (min-width: 768px) {
                    display: none;
                }
            }
        }
    }
}